*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Rochester', cursive;
}

body{
    display:flex;
    flex-direction: column;
    font-size: 3em;
    color:white;
    background-color: rgb(255, 255, 255)
}
/* Header */
a{
    z-index: 2;
    font-style: none;
    color: white;
    display: flex;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
}
.menuBtn{
    display: flex;
    flex-direction: column;
    width: .7em;
    height: .7em;
    justify-content: space-evenly;
}
.menuBtn > div{
    border-bottom: 2px solid white;
}
header{
    display:flex;
    flex-direction: row;
    margin: .6em;
    justify-content: space-between;
}
/* Landing Page */
.hero{
    display:flex;
    flex-direction: column;
    background-image:url(/assets/weddingbackground.avif);
    height:100vh;
}