*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Libre Franklin', sans-serif;
}
h2{
    font-weight:400;
}
h3{
    font-weight:400;
}


body{
    display:flex;
    flex-direction: column;
    font-size: 3em;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255)
}
/* Header */
header{
    height:1.2em;
    width:auto;
}
a{
    z-index: 2;
    font-style: none;
    color: rgb(0, 0, 0);
    display: flex;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
}
.menuBtn{
    margin-left: .6em;
    display: flex;
    flex-direction: column;
    width: .9em;
    height: .9em;
    justify-content: space-around;

}

.menuBtn > div{
    border-bottom: .1rem solid rgb(0, 0, 0);
}

header{
    display:flex;
    flex-direction: row;
    margin: .4em .4em .4em .4em;
    justify-content: space-between;
}
.menuNav{
    display:flex;
    flex-direction: row;
    font-size: 1.6rem;

}
nav{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navDivider{
    border-left: 1px solid black;
    height: 50%;
    padding-right: .6em;
}
.logo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo p{
    font-size: 1.8rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Landing Page */
.hero{
    display:flex;
    flex-direction: column;
    background-image:url(/assets/coupleOnBeach.webp);
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}
.hero h1{
    display:none;
    font-weight:normal;
    font-size: 3rem;
    color: rgb(151, 147, 147);
    align-self: center;
    padding: .2em;
}
/* Portfolio section */
.portfolio{
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    display:flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 400;
}
.portfolio div:first-child{
    display:flex;
    flex-direction: column;
    background-color: green;
}
