*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Libre Franklin', sans-serif;
}
h2{
    font-weight:400;
}
h3{
    font-weight:400;
}


body{
    display:flex;
    flex-direction: column;
    font-size: 3em;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255)
}
/* Header */
header{
    height:1.2em;
    width:auto;
    color: white;
}
a{
    z-index: 2;
    font-style: none;
    color: rgb(255, 255, 255);
    display: flex;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
}
.menuBtn{
    margin-left: .6em;
    display: flex;
    flex-direction: column;
    width: .9em;
    height: .9em;
    justify-content: space-around;

}

.menuBtn > div{
    border-bottom: .1rem solid rgb(255, 255, 255);
}

header{
    display:flex;
    flex-direction: row;
    margin: .4em .4em .4em .4em;
    justify-content: space-between;
}
.menuNav{
    display:flex;
    flex-direction: row;
    font-size: 1.6rem;

}
nav{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navDivider{
    border-left: 1px solid rgb(255, 255, 255);
    height: 50%;
    padding-right: .6em;
}
.logo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo p{
    font-size: 1.8rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Landing Page */
.hero{
    display:flex;
    flex-direction: column;
    background-image:url(/assets/stockphotocamera.jpg);
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}
.hero h1{
    display:none;
    font-weight:normal;
    font-size: 3rem;
    color: rgb(151, 147, 147);
    align-self: center;
    padding: .2em;
}
/* Portfolio section */
.portfolio{
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    display:flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 400;
}
.portfolio div:first-child{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.portfolio div:first-child p{
    font-size: 1.5rem;
}
.portfolio>div{
    margin-top: 1em;
}
.portfolioContainerDivider{
    margin-bottom: .4em;
    width: 75%;
    border-bottom: 1px solid black;
}

.imgContainer img{
    width:100%;
    height: 100%;
    object-fit: contain;
}
.portfolioBtn{
    margin-top: 1em;
    border: none;
    background-color:#ff6584;
    border-radius: 9px;
    height: 45px;
    width: 100%;
    color:white;
    font-size: 1.5rem;
}
/* Client Stories */
.clientStories{
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    display:flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 400;
    
}
.clientStories .imgContainer{
    border-radius: 50%;
    height:75px;
    width:75px;
    overflow: hidden;
    margin-top: 1em;

}
.clientStories .imgContainer img{
    object-fit: cover;
}
.clientStories>p{
    margin: 2em 0;
    text-align: left;
    font-size: 1.4rem;
}
.clientStories span, .imgContainer {
    font-size: 1.7rem;
    align-self: center;
    margin-bottom:.2em;
    margin-top:.2em;
}
/* Contact */
.contact{
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    display:flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 400;
}
.contact>p{
    font-size:1.5rem;
}
.contact>*{
    margin-top: 1em;
}
.contactDivider{
    margin-top:0;
    border-bottom: 1px solid black;
    width: 75%;
}
.contact>p:last-child{
    margin-bottom: 2em;
}

/* footer */
footer{
    margin-bottom:0;
}
.socialsContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    
}
.socialLink{
    display:flex;
    flex-direction: row;
    width:253px;
    height:253px;
    border: 1px solid black;
    border-radius: 50%;
}

.fa{
    color:black;
    margin: -1em 1em 1em 0;
    padding-top:1em;
    padding-left: 1em;
}
